* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    /* background: #0f172a; */
    background: #5572b6;
    /* background-color: aquamarine; */
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #020617;
    position: fixed;
    width: 100%;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    color: cyan;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

.highlight {
    color: cyan;
}

/* Cards */
.card-container {
    display: flex;
    gap: 20px;
}

.card {
    padding: 30px;
    background: #1e293b;
    border-radius: 10px;
    transition: transform 0.3s, background 0.3s;
}

.card:hover {
    transform: scale(1.1);
    background: cyan;
    color: black;
}
form input, form textarea {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: cyan;
    border: none;
    cursor: pointer;
}

/* Animation */
.section {
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}